<!doctype html>
<html class="no-js flexbox-gap" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <!-- Beyond Theme - Version 3.3.1 by Troop Themes - https://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
      echo 'theme--critical.css' | asset_url | preload_tag: as: 'style'
      echo 'theme--async.css' | asset_url | preload_tag: as: 'style'
    -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32 }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    <title>
      {%- liquid
        echo page_title
        unless request.page_type == 'index'
          echo ' | ' | append: shop.name
        endunless
      -%}
    </title>

    {%- liquid
      render 'meta-tags'
      render 'css-typography'
      render 'css-variables'
      render 'custom-styles'
      render 'js-variables'
      render 'js-utilities'
      render 'js-modules'
    -%}

    {%- if request.page_type contains 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <link href="{{ "theme--critical.css" | asset_url }}" rel="stylesheet" media="all">
    <link
      href="{{ "theme--async.css" | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    >

    <noscript>
      <style>
        .layout--template > *,
        .layout--footer-group > *,
        .modal--root,
        .modal--window {
          opacity: 1;
        }
      </style>
      <link href="{{ "theme--async.css" | asset_url }}" rel="stylesheet">
    </noscript>
  
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {{ content_for_header }}
  </head>

  <body
    class="template--{{ template | split: '.' | first | remove: '_' | replace: '/', '--' }} page--{{ page_title | handle }}{% if customer %} customer-logged-in{% endif %}"
    data-theme-id="939"
    data-theme-name="Beyond"
    data-theme-version="3.3.1"
    data-theme-preset="{{ settings.preset }}"
    data-transition-container="viewport"
    {%- if settings.layout--show-page-border -%}
      data-show-border
    {%- endif -%}
  >

    <!--[if IE]>
      <div style="text-align:center;padding:72px 16px;">
        {{ 'general.browser_unsupported' | t }}
      </div>
      <style>
        .layout--viewport { display: none; }
      </style>
    <![endif]-->

    <a data-item="a11y-button" href='#main-content'>
      {{- 'general.a11y.skip_main' | t -}}
    </a>

    <div class="layout--viewport" data-drawer-status="closed">
      <div class="layout--main-content">
        {% render 'zoho' %}



        <style>

.zf_lB_Dimmer_354871{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_354871{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 673px;
	width:  70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_354871{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_354871{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_354871 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_354871:before, .zf_lb_closeform_354871:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_354871:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_354871:after {
  transform: rotate(-45deg);
} 



@media screen and (min-device-width: 10px) and (max-device-width: 380px) {  
   .zf_lB_Container_354871 {
  width: 270px !important;
} 
}

@media screen and (min-device-width: 360px) and (max-device-width: 480px) {  
   .zf_lB_Container_354871 {
  width: 300px !important;
} 
}

@media screen and (min-device-width: 440px) and (max-device-width: 500px) {  
   .zf_lB_Container_354871 {
  width: 380px !important;
} 
}

@media only screen  and (min-width:500px) and (max-width:600px)  {  
 	.zf_lB_Container_354871 {
	width: 450px;
 }
}

@media only screen  and (min-width:601px) and (max-width:700px)  {  
 	.zf_lB_Container_354871 {
	width: 540px;
 }
}

@media only screen  and (min-width:700px) and (max-width:800px)  { 
.zf_lB_Container_354871 {
	width: 650px;
 }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1268px) {  
   .zf_lB_Container_354871 {
  width: 750px !important;
} 
}

</style>      



        <header class="layout--header-group">
          {%- sections 'header-group' -%}
        </header>

        <div class="layout--overlay-group">
          {%- sections 'overlay-group' -%}
        </div>

        <main class="layout--template" id="main-content">
             
          {{ content_for_layout }}
        </main>

        <footer class="layout--footer-group">
          {%- sections 'footer-group' -%}
        </footer>
      </div>

      {%- render 'drawer' -%}
    </div>

    {%- liquid
      render 'modal'
      render 'feedback-bar'
      render 'icons', icon: 'defs'
    -%}
  </body>
</html>
